.About{
    background-color: #0d1821;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }



  .AboutDes{
    padding: 10vw;
    opacity: 0;
    transform: translateY(20px); /* Optionally, you can add some initial translation */
    transition: opacity 0.5s, transform 0.5s;
  }

  .AboutDes.visible{
    opacity: 1;
    transform: translateY(0);
  
   } 
  .shirleyimg2{
    width: 25vw;
    height: auto;
    padding: 10vw;
    border-radius: 30em;
  }