.nav_bar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  
    width: 100%;
    height: 10vh;
  
    font-size: 2vw; /* or other relative units */
    font-family: 'Itim';
    color: white;
    background-color: #0d1821;
    box-shadow: #0D1821;
    
    z-index: 999;
  
  }
  .left{
    /* font-family: "Montez", cursive; */

  }

  .right p.active {
    color: #725CFF;
  }

  .right p {
    cursor: pointer; /* Add this line to show pointer cursor on hover */
  }