

.Work{
    --accentColor: #E44274;
    position: relative;
    display: flex;
    flex-direction: column;


    align-items: center;
    justify-content: space-around;
    padding: 5em 0; 

    background-color: #F8DBD5;





    h1{
      color: #E44274;
      font-family: "Molle variant0", Tofu, cursive;
      font-size: 8.5rem;
      margin: 0;
      padding: 0;
    }

    

    
  }



  @media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .Work-Container {
      width: 90vw; /* Adjust the width for smaller screens */
      height: auto; /* Allow the container to expand based on content */
      overflow: scroll;
    }
   
  }
    

  
  
  .Work-Container .visible {
    opacity: 1;
    transform: translateY(0);
  }
  .experienceCards.visible {
    opacity: 1;
    transform: translateY(0);
  }
  


  
  .Experience{

    min-height: 40%;
    width: auto;
    color:black;

    



  }
  .ExperienceAndSkills.visible{
    opacity: 1;
    transform: translateY(0);
  }

  .ExperienceAndSkills{

    min-height: 70%;
    transform: translateY(20px); /* Optionally, you can add some initial translation */
    transition: opacity 0.5s, transform 0.5s;

    opacity: 0;

    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: center;


    .Experience{

      max-width: 50%;
      height: auto;

  
  
  
    }

    .techSkills{
      height: 100%;
      width: 70%;
      color:black;
      /* background-color: white; */

      .codingSkillsIcons{
        height: 100%;
        /* background-color: red; */
      }

      svg{
        height: 10%;
        width: 10%;
        color:black;
        /* background-color: blue; */
      }

    }

    h2{
      color:black;
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      font-size: 5vw;
      font-style:italic;
      .twinkle{
        color:#E44274;
        font-style: normal;
  
      }
    }

    h3{
      color:black;
      font-family: "Raleway", sans-serif;
      font-size: 3vw;
      font-weight: 300;
      padding: 0;
      margin-bottom: 2%;
    }
    
    /* padding: 2em; */
  }


/*media query */

@media (max-width: 768px) {

  
  /* Adjust styles for smaller screens */




 

 

  h3 {
    font-size: 4vw;
  }

  .Work{
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 50px;
    h1{
      font-size: 15vw;
      
    }
    h2 {
      font-size: 8vw;
    }
    h3{
      font-size: 6vw;
    }
    .ExperienceAndSkills {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 100%;
      height: auto;
      font-size: 2vw;
    }
    .Experience {
      max-width: 100%;
      height: auto;
      margin-bottom: 2em;
      p{
        font-size: 4vw;
      }

    }

    .techSkills {
      width: 100%;
      height: auto;
      /* background-color: red; */

      margin-top: 2em;
      svg{
        padding: 1%;
        min-height: 10%;
        min-width: 10%;
      }
    }
  }
}
  



  